.nav-logo {
  width: 76px;
  margin-right: 10px; }

.nav-atomic {
  display: none; }

.fa-bars {
  color: white;
  font-size: 32px; }

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #CB1F3E;
  color: white;
  height: 75px; }

.navbar-right {
  display: none;
  width: 15px;
  justify-content: space-between;
  padding-right: 38px; }

.navbar-alpine {
  width: 33%;
  margin-top: 25px; }

.navbar-touring {
  margin-top: 25px; }

.navbar-nordic {
  margin-top: 25px; }

.fa-search {
  display: flex;
  color: white;
  align-items: center;
  padding-right: 15px;
  font-size: 15px; }

.navbar-left {
  align-items: center;
  display: flex; }

.navbar-button {
  display: none;
  text-transform: uppercase;
  height: 75px;
  align-items: center;
  font-size: 15px; }

.navbar-button-men {
  display: none;
  text-transform: uppercase;
  height: 75px;
  align-items: center;
  font-size: 15px; }

.navbar-dropdown {
  position: relative;
  display: inline-block; }

.navbar-drop-alpine {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  font-size: 15px;
  background: white; }

.navbar-drop-touring {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: center;
  font-size: 15px; }

.navbar-drop-nordic {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: center;
  margin-right: 50px;
  font-size: 15px; }

.navbar-drop-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100vw;
  height: 70px;
  margin-top: 37px;
  left: 0;
  justify-content: space-around;
  color: black; }

.navbar-drop-alpine-content {
  display: none;
  position: fixed;
  left: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 0;
  margin-top: 69px;
  width: 100vw;
  height: auto;
  background: white;
  z-index: 2;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end; }

.navbar-drop-alpine-content li {
  justify-content: center;
  display: flex; }

.navbar-drop-touring-content li {
  justify-content: center;
  display: flex; }

.navbar-drop-nordic-content {
  justify-content: center;
  display: flex; }

.navbar-drop-alpine-content img {
  display: flex;
  align-content: center; }

#navbar-goggles {
  margin-bottom: 25px; }

.navbar-drop-touring-content {
  display: none;
  position: fixed;
  left: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 0;
  margin-top: 69px;
  width: 100vw;
  height: auto;
  background: white;
  z-index: 1;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end; }

.navbar-drop-nordic-content {
  display: none;
  position: fixed;
  left: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 69px;
  width: 100vw;
  height: 331px;
  background: white;
  z-index: 0;
  color: green; }

.navbar-drop-alpine-content:hover {
  display: flex; }

.navbar-button-men:hover .navbar-drop-content {
  display: flex; }

.navbar-drop-alpine:hover .navbar-drop-alpine-content {
  display: flex; }

.navbar-drop-alpine:hover {
  background: white; }

.navbar-drop-alpine-content {
  display: flex; }

.navbar-drop-touring:hover {
  background: white;
  z-index: 3; }

.navbar-drop-touring-content {
  display: flex; }

.navbar-drop-nordic:hover {
  background: white;
  z-index: 4; }

.navbar-drop-nordic-content {
  display: flex; }

@media (min-width: 900px) {
  .nav-atomic {
    display: flex; }
  .navbar-menu {
    display: flex; }
  .navbar-right {
    width: 600px;
    padding-right: 15px;
    align-items: center;
    display: flex; }
  .navbar {
    background-color: #EB2449; }
  .fa-bars {
    display: none; }
  .navbar-button {
    display: flex; }
  .navbar-button-men {
    display: flex; } }
