.nav-logo {
    width: 76px;
    margin-right: 10px;
}

.nav-atomic {
    display: none;
}

.fa-bars {
    color: white;
    font-size: 32px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #CB1F3E;
    color: white;   
    height: 75px;
    font-family: 'Raleway';
    font-weight: 600;
}

.navbar-right { 
    display: none;
    width: 15px;
    justify-content: space-between;
    padding-right: 38px;
}

.navbar-alpine {
    color: #CB1F3E;
    margin-top: 25px;
    font-family: 'Raleway';
    font-weight: 600;
}

.navbar-touring {
    color: #333;
    margin-top: 25px;
    font-family: 'Raleway';
    font-weight: 600px;
}

.navbar-nordic {
    color: #333;
    margin-top: 25px;
    font-family: 'Raleway';
    font-weight: 600px;
}

.fa-search {
    display: flex;
    color: white;
    align-items: center;
    padding-right: 15px;
    font-size: 15px;
}

.navbar-left {
    align-items: center;
    display: flex;
}   

.navbar-button {
    display: none;
    text-transform: uppercase;
    height: 75px;
    align-items: center;
    font-size: 15px;
}

.navbar-button-men {
    display: none;
    text-transform: uppercase;
    height: 75px;
    align-items: center;
    font-size: 15px;
    flex-direction: column;
    margin-top: 56px;
}

.navbar-dropdown {
    position: relative;
    display: inline-block;
}

.navbar-drop-alpine {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    font-size: 15px;
    background: white;
}

.navbar-drop-touring {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: center;
    font-size: 15px;
    
}

.navbar-drop-nordic {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-right: 50px;
    font-size: 15px;
    
}
.navbar-drop-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100vw;
    height: 70px;
    margin-top: 27px;
    left: 0;
    justify-content: center;
    color: black;
}

.navbar-drop-alpine-content {
    display: none;
    position: fixed;
    left: 0;
    padding: 27px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
    margin-top: 69px;
    width: 100vw;
    height: auto;
    background: white;
    z-index: 2;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 39px;
}



.navbar-drop-alpine-content li {
    justify-content: center;
    display: flex;
    font-family: 'Raleway';
    color: #666;
    font-weight: 600px;
}

// .navbar-drop-alpine-content div {
//     width: 200px;
// }

.navbar-drop-touring-content li {
    justify-content: center;
    display: flex;
    font-family: 'Raleway';
    font-weight: 600px;
    color: #666;
}

.navbar-drop-touring-content div {
    padding: 20px;
}

.navbar-drop-nordic-content div li {
    justify-content: center;
    display: flex;
    font-family: 'Raleway';
    font-weight: 600px;
    color: #666;
}

.navbar-drop-alpine-content img {
    display: flex;
    align-content: center;
}

#navbar-goggles {
    margin-bottom: 25px;
}


.navbar-drop-touring-content {
    visibility: hidden;
    display: none;
    position: fixed;
    left: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
    margin-top: 69px;
    width: 100vw;
    height: auto;
    background: white;
    z-index: 1;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    
}

.navbar-drop-nordic-content {
    display: none;
    position: fixed;
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 69px;
    width: 100vw;
    height: auto;
    background: white;
    z-index: 0;
    list-style: none;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    
}

.navbar-drop-nordic-content div {
    margin: 10px;
}

.navbar-drop-nordic-content img {
    width: 135px;
}

.navbar-drop-nordic-content li {
    font-size: 15px;
}



.navbar-drop-alpine-content:hover {display:flex;}

.navbar-button-men:hover .navbar-drop-content {display: flex;} 

.navbar-drop-alpine:hover .navbar-drop-alpine-content {display: flex;}


.navbar-drop-alpine:hover {background: white;} .navbar-drop-alpine-content {display: flex;}
.navbar-drop-touring:hover {background: white; z-index: 3;} .navbar-drop-touring-content {display: flex;}
.navbar-drop-nordic:hover {background: white; z-index: 4;} .navbar-drop-nordic-content {display: flex;}

@mixin underline {
    display: none;
    width: 100%;
    height: 2px;
    background: white;
    position: relative;
    animation-name: lineMoveUp;
    animation-duration: .1s;
    top: 2px;
}

@mixin underline-red {
    display: none;
    width: 100%;
    height: 2px;
    background: #CB1F3E;
    position: relative;
    animation-name: lineMoveUp;
    animation-duration: .1s;
    top: 2px;
}


.navbar-drop-touring:hover .underline-red {animation: lineMoveUp2 .1s;}
.navbar-drop-nordic:hover .underline-red {animation: lineMoveUp2 .1s;}

.underline-red {
    @include underline-red
}

.underline {
    @include underline
}

@keyframes lineMoveUp {
    from {top: 5px; opacity: .2}
    to {top: 2px; opacity: 1}
}

@keyframes lineMoveUp2 {
    from {top: 5px; opacity: .2}
    to {top: 2px; opacity: 1}
}

.navbar-button-men {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}

.navbar-image {
    position: relative;
    animation-name: none;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}


@keyframes imageMove {
    from {bottom: 0px;}
    to {bottom: 3px;}
}

@media (min-width: 900px){
    .nav-atomic {
        display: flex;
    }
    .navbar-menu {
        display: flex;
    }
    .navbar-right {
        width: 600px;
        padding-right: 15px;
        align-items: center;
        display: flex;
    }
    .navbar {
        background-color: #EB2449;
    }
    .fa-bars {
        display: none;
    }
    .navbar-button {
        display: flex;
    }
    .navbar-button-men {
        display: flex;
    }

}